<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" media="screen" href="../public/main.css" />
</head>
<body>
    <div id="ListContainer">
        <div id="toDo" class="item flex-item-1">
            <h1>A Fazer</h1>
        </div>

        <div id="doing" class="item flex-item-1">
            <h1>Fazendo</h1>
        </div>

        <div id="done" class="item flex-item-1">
            <h1>Feito</h1>
        </div>
    </div>
</body>
</html>